{deps, [
	{cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
	{sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
	{mongodb, ".*", {git, "git://github.com/mongodb/mongodb-erlang.git", {branch, "master"}}},
	{jsonx, ".*", {git, "git://github.com/iskra/jsonx.git", {branch, "master"}}}
]}.